.Info {
  > div {
    padding-bottom: 50px;
    > h1 {
      font-weight: 500;
      color: #603612;
      font-size: 28px;
      padding-top: 20px;
      padding-bottom: 10px;
      border-bottom: 0.5px solid #603612;
    }
    > div {
      > img {
        width: 554px;
        border-radius: 8px;
      }
    }

    > p {
      > pre {
        width: 80%;
        font-weight: 200!important;
        font-size: 16px;
        color: #6a6c67;
      }
    }
  }
}

@media (max-width: 620px) {
  .Info {
    > div {
      padding-bottom: 50px;
      > h1 {
        font-weight: 500;
        color: #279439;
        font-size: 28px;
        padding-top: 20px;
      }
      > div {
        > img {
          width: 100%;
          border-radius: 8px;
        }
      }

      > p {
        width: 80%;
        font-weight: 300;
      }
    }
  }
}